@import '../../common/vars.scss';
.song-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow-x: hidden;
}
.scrollbar {
  width: 25px;
}
.song-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.scroll-area {
  overflow-x: hidden;
}
.header {
  font-family: $Montserrat;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  font-size: 24px;
  color: $peach;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $red;
}
