@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$purple: #1c1136;
$red: #a83252;
$orange: #e9b68e;
$peach: #fce9da;
$lilac: #bcb6c7;
$Montserrat: 'Montserrat', sans-serif;
